<p>{{model.title}}</p>
<p>{{model.overview}}</p>
<img src="https://image.tmdb.org/t/p/w500/{{model.poster_path}}"   style="width: 290px; height: 200px" />
<p>Released on: {{model.release_date}}</p>
{{outlet}}